@using Lume.Models
@model PaginationViewModel
@Styles.Render("~/Content/themes/index")
<div class="options">
    <div class="add-itemoptions_upload">
        Add new resource

            @Html.ActionLink("Add", "Upload", "Home", new { @class = "btn btn-success btn-xs", id="uploadLinkBtn"})
    </div>
</div>
<div class="all_items" id="all_items">
    @Html.Action("DataTable",Model)
</div>
@Scripts.Render("~/bundles/indexJS")