@model Lume.Models.LogInViewModel
@{
    var options = new AjaxOptions()
    {
        UpdateTargetId = "logInForm",
        InsertionMode = InsertionMode.Replace,
        OnBegin = "LogInAjaxOnBegin",
        OnSuccess = "LogInAjaxOnSucces"
    };
}
<div class="loading_icon_container loading_hide" id="loading_icon">
    <div class="loading_icon "></div>
</div>
@using (Html.BeginForm("Login", "Account", FormMethod.Post ,new { @class = "form", role = "form", id="loginDropdown" }))
{
    <div id="logInForm">
        @Html.Partial("_LogInFormPartial")
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </div>
}
 