@using Lume.Models
@model PaginationViewModel
@Styles.Render("~/Content/themes/search")
<div class="container-fluid">
    <div class="container-fluid content">
        @Html.Action("SearchForm")

        <div id="dataTableContainer">
            @Html.Action("DataTable", Model)
        </div>
    </div>
</div>
<noscript>
    <link href="~/Content/myThemes/dataTables.bootstrap-min.css" rel="stylesheet" />
</noscript>
@Scripts.Render("~/bundles/searchJS")
<script src="~/Scripts/myScripts/jquery.dataTables-min.js"></script>